/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(121, 105, 85); 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(69, 49, 25); 
    width:2px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 62, 35); 
  }